.airlineSearchResults {
  border: 1px dashed red;
  padding: 20px 0;
}

.airlineSearchResults li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
}

.airlineSearchResults li:first-child {
  border-bottom: 1px solid black;
}

.airlineSearchResults li > span {
  display: inline-block;
}
